* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    30deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(38, 38, 100) 35%,
    rgb(20, 43, 92) 100%
  );
  height: 100vh;
  width: 100vw;
}

input {
  font-size: 3rem;
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: white 3px solid;
}

input:focus {
  outline: none;
}

button {
  font-size: 1.6rem;
  background-color: transparent;
  border: white 3px solid;
  border-radius: 50rem;
  padding: 0.2rem;
  width: 15rem;
  height: 4rem;
  color: white;
  margin-left: 2rem;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:active {
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: white;
  color: rgb(20, 43, 92);
  transform: translatey(4px);
}

.App {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
